doctype html
html.no-js(lang="en")

    head
        meta(charset="utf-8")
        meta(
            http-equiv="x-ua-compatible"
            content="ie=edge"
            )
        title= title
        meta(
            name="description"
            content=""
            )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
            )
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="style/main.css")


    body
    #container

        #inventory.page
            include ./modules/info_bar/templates/info_bar_template

            .content
                ul.items
                    li
                    li
                    li
                    li
                    li
                    li

    //SCRIPTS
    script(src="../bower_components/mithril/mithril.min.js")
    script(src="../js/main.js")



